.inline-block {
    display: inline-block;
    background-color: white;
    padding: 15px;
    width: 150px;
    text-align: center;
  }
  .header {
    background-color: lightseagreen;
    padding: 5px;
  }
  .left {
    float: left;
    width: 30%;
    background-color: lightcoral;
    height: 500px;
  }
  .right {
    float: left;
    width: 70%;
    background-color: #CCCCCC;
    height: 500px;
  }
  .container1 {
    text-align: center;
    padding: 15px;
  }
  .container2 {
    background-color: lightgreen;
    padding: 15px;
  }
  .imagePlaceholder {
    height: 250px;
    background-color: #666666;
  }

